@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

input {
  padding: 5px; }

select {
  padding: 7px; }

.hidden {
  display: none; }

.animate {
  -webkit-animation: fadeIn 1000ms ease-in-out;
  animation: fadeIn 1000ms ease-in-out;
  /*transition: margin 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);*/ }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.well {
  margin: 20px 0;
  text-align: center;
  background-image: url("/images/Rain.jpg");
  background-repeat: no-repeat;
  background-position: center center; }

.well span {
  display: block;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  /*border: 1px solid red;*/ }

#city {
  font-size: 2em; }

#weather {
  font-size: 1.5em; }

#temperature {
  font-size: 6em;
  margin-top: -0.15em; }

#maxTemp, #minTemp {
  font-size: 1em;
  display: inline-block;
  padding: 0 10px; }

.row {
  margin: 0 !important; }

.weather {
  background: black;
  background: url("https://unsplash.it/1600/900?gravity=east") no-repeat 50% 50%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  height: 500px;
  color: white;
  position: relative; }

.location {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 5px 10px; }
  .location span {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75); }

.date-time {
  position: absolute;
  right: 50px;
  top: 30px;
  text-align: right; }
  .date-time .loc-icon {
    display: block;
    text-align: right;
    font-size: 5rem; }

#enteredCity {
  display: inline-block;
  position: relative; }
  #enteredCity:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 5px; }

.date-time {
  font-family: 'Sanchez', serif; }
  .date-time #loc, .date-time #time {
    display: block; }

.city, #txt {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Sanchez', serif;
  font-size: 5rem; }

.state {
  text-transform: uppercase;
  font-family: 'Sanchez', serif;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5); }

.blank {
  background: transparent !important; }

.weather-options {
  display: none; 
  width: 100%;
  position: absolute;
  bottom: 0 !important;
  left: 0;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.25); }
  .weather-options .ion-ios-sunny-outline {
    font-size: 3rem; }

#option-1, #option-2, #option-3 {
  color: white;
  padding-bottom: 10px;
  border-bottom: 5px solid transparent; }
  #option-1:hover, #option-2:hover, #option-3:hover {
    cursor: pointer;
    border-bottom: 5px solid green; }
  #option-1 a, #option-2 a, #option-3 a {
    font-family: "Sanchez", serif;
    letter-spacing: 1.5px;
    font-size: 1.75rem;
    color: inherit;
    text-decoration: none; }
  #option-1 a:hover, #option-1 a:active, #option-1 a:focus, #option-1 a:blur, #option-2 a:hover, #option-2 a:active, #option-2 a:focus, #option-2 a:blur, #option-3 a:hover, #option-3 a:active, #option-3 a:focus, #option-3 a:blur {
    color: inherit;
    text-decoration: none; }

.weather-info {
  position: relative;
  display: block;
  height: 200px;
  min-height: 300px;
  background: black; }
  .weather-info .row {
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    transform: translate(-10%, -50%); }
    .weather-info .row div {
      display: inline-block; }
  .weather-info .current-temperature {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15rem; }
  .weather-info .current-weather {
    color: orange; }

/* Dynamic input width */
#txt {
  /*border-left: 0;
  border-right: 0;
  border-top: 0;
  */
  border: 0;
  padding-bottom: 0;
  color: white;
  background-color: transparent;
  /* border-bottom-color: rgba(0, 0, 0, 0.25) #txt; */
 }
  #txt:focus {
    outline: 0 !important;
    border: 0 !important;
   }

/* Round Switch */
.switch {
  position: absolute;
  right: 60px;
  display: inline-block;
  width: 47px;
  height: 21px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input + .slider {
  background-color: #a29494; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

@media screen and (max-width: 768px) {
  .col-md-6 {
    padding-left: 0;
    padding-right: 0; }
  .container {
    width: 100%;
    padding: 0px;
    margin: 0px; }
  .date-time {
    display: none; }
  .location {
    text-align: center;
    width: 100%;
    left: 0; } }
